<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="menu-bar">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
            <a>New Table</a>
            <a>Open Expenses</a>
            <a>Open Budget</a>
            <a>New Budget From File</a>
            <a>Delete Budget</a>
            <a>View Accounts</a>
            <a>Exit</a>
            </div>
        </div>
        </div>

        <br><br><br></br></br></br>

        <div class="title-container">
            <h1>Budgeting App</h1>
            <p>Description can go here</p>
        </div>

    </body>
</html>